services:
  - type: web
    name: fynd-task-2-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: PORT
        fromService:
          type: web
          name: fynd-task-2-backend
          property: port
      - key: OPENAI_API_KEY
        sync: false

